メイン コンテンツにスキップ
Google Classroom
Classroom
R6_GP2-4
ITエンジニア科ゲームプログラムコース4年制課程2年
ホーム
カレンダー
登録科目
ToDo
R
R6後期_選択授業【ゲームプログラミング】705教室
Ｗ
Ｗｅｂアプリ制作
ＩＴエンジニア科２年（３・４年制課程）
キ
キャリアデザインI（GP2-4）
R6_2024年度 : GP2-4
2
2024 ｋｂｃ事務局より連絡
奨学金／住所変更届／施設・設備連絡（窓口9時～17時）
R
R6_GP2-4
ITエンジニア科ゲームプログラムコース4年制課程2年
R
R5_GP1B
ITエンジニア科ゲームプログラムコース
(
(終了)プログラム設計(GP1A,GP1B)
2023年度 担当:山口雅樹
アーカイブされたクラス
設定
ストリーム
授業
メンバー
ScratchのゲームをC++にする を展開しました「R6_GP2-4 ITエンジニア科ゲームプログラムコース4年制課程2年」の授業
すべてのトピック
質問
【期限 12/20まで】自己理解と目標管理に向けたツール『サカセルラボ』に取り組んでみましょう！
期限: 2024/12/20 17:00
完了 課題
【最重要】Web検定の解答フォルダ提出
期限: 2024/08/09 15:00
質問
【最重要】Webクリエイター能力認定試験/HTML5の受験申込について
期限: 2024/07/12 17:00
ResorTechEXPO
ResorTechEXPO
完了 課題
参加レポートについて
期限: 2024/11/15
資料
ResorTechEXPO参加について
投稿日: 2024/11/09
資料
ResorTechEXPO2024参加についてのご案内
投稿日: 2024/11/08
学園祭
学園祭
資料
学園祭関連の情報共有について
投稿日: 2024/10/31
資料
学園祭　クラス別やりたいこと一覧
最終編集: 2024/10/31
資料
第2回　学園祭やりたいことアンケート　※最終
最終編集: 2024/10/31
資料
第1回　学園祭やりたいことアンケート
最終編集: 2024/10/31
応用プログラミングI
応用プログラミングI
資料
【C++】 RollingBall
投稿日: 2024/11/26
資料
05_EnhancedInput
投稿日: 2024/11/14
資料
０４＿変数
投稿日: 2024/10/28
資料
03_UEC++ 関数
投稿日: 2024/10/24
資料
02_UEC++の概要とヘッダーの違い
投稿日: 2024/10/16
資料
初期設定編
投稿日: 2024/10/09
ゲーム開発応用Ⅱ
ゲーム開発応用Ⅱ
課題
チーム制作編
期限: 2月15日 0:00
完了 課題
個人制作編
期限: 1月25日 0:00
選択授業
選択授業
資料
科目ごとの使用教室
投稿日: 2024/10/17
資料
後期選択授業　受講科目決定
投稿日: 2024/10/15
資料
後期選択授業希望アンケート
投稿日: 2024/09/16
ビーチパーティー
ビーチパーティー
資料
レク：ビーチバレータイムスケジュール
投稿日: 2024/09/05
資料
バス配車・東屋割り振り表
投稿日: 2024/09/05
資料
タイムスケジュール
投稿日: 2024/08/30
ポートフォリオ作成
ポートフォリオ作成
完了 質問
【最重要】爆撃ハンターのポートフォリオ提出について
期限: 2024/09/03 10:10
資料
【ポートフォリオ】サンプル素材
投稿日: 2024/08/27
完了 課題
【ポートフォリオ】作品紹介「爆撃ハンター」のWebページを作成する
期限: 2024/09/13 23:59
完了 課題
【ポートフォリオ】「画像の特徴」に関する確認テスト
期限: 2024/08/19 12:00
完了 課題
【ポートフォリオ】画像のサイズ変更とトリミング
期限: 2024/08/19 17:00
完了 課題
【ポートフォリオ】スクリーンショットの方法と貼り付け・保存
期限: 2024/08/13 17:00
キャリアデザインⅡ
キャリアデザインⅡ
完了 質問
1月15日（水）初任給引き上げの記事とそれに関するグループワーク
期限: 1月15日
課題
1/14　チームビルディングを振り返り
期限: 1月14日
完了 課題
プレゼン会を振り返って
期限: 2024/10/22
完了 課題
プレゼン会
期限: 2024/10/22
資料
妄想自己紹介
投稿日: 2024/10/10
TGS見学研修
TGS見学研修
資料
直前情報番組「予習スペシャル」9月18日（水）配信決定！
投稿日: 2024/09/18
資料
東京ゲームショウ2024　無料招待券配布についての案内
最終編集: 2024/08/26
資料
昨年を上回る過去最大の出展規模に！
投稿日: 2024/07/10
資料
東京ゲームショウ見学研修について
投稿日: 2024/06/24
行事・イベント
行事・イベント
資料
金融セミナー資料
投稿日: 2024/07/18
資料
【案内】「新入生歓迎会」の資料について
最終編集: 2024/05/02
ゲーム数学Ⅱ
ゲーム数学Ⅱ
資料
ゲーム数学　最終確認テスト
投稿日: 2024/09/04
資料
法線ベクトル参考資料
投稿日: 2024/06/21
資料
使用テキスト　ゲームを動かす数学・物理R
投稿日: 2024/04/24
キャリアデザインⅠ
キャリアデザインⅠ
完了 質問
「卒業生講話」あしびかんぱにー
期限: 1月24日 23:59
資料
【8月20日（火）】任天堂について　※日経新聞より
投稿日: 2024/08/20
完了 課題
８月７日（水）キャリアデザインⅠ　在宅課題
1
1 件のコメント
期限: 2024/08/08 17:30
資料
【7月26日（金）】気になる記事のまとめ
最終編集: 2024/07/26
質問
【7月25日（木）＜日経電子版＞本日の気になる記事
期限: 2024/07/25 23:59
完了 課題
【ウインライト】会社説明会を受けての感想
期限: 2024/06/10 23:59
完了 課題
jobｰtag　自己分析
期限: 2024/05/23
課題
情報系2026卒向け　インターンシップ説明会
期限: 2024/05/17
完了 課題
5月10日（金）実施　特別講義のレポート
期限: 2024/05/17 16:00
課題
【説明会報告書】（株）シフォン
期限: 2024/04/18 17:30
ゲームデザイン
ゲームデザイン
資料
ゲームデザイン #11（2024/9/5）講義用資料
投稿日: 2024/09/09
資料
ゲームデザイン #8（2024/7/25）講義用資料
投稿日: 2024/07/26
資料
ゲームデザイン #7（2024/7/4）講義用資料
投稿日: 2024/07/11
資料
ゲームデザイン #6（2024/6/27）講義用資料
投稿日: 2024/06/27
資料
ゲームデザイン #5（2024/6/20）講義用資料
投稿日: 2024/06/20
資料
ゲームデザイン #4（2024/5/28）講義用資料
投稿日: 2024/05/28
資料
ゲームデザイン #3（2024/5/16）講義用資料
投稿日: 2024/05/16
完了 課題
パブリッシャーとデベロッパーについて調べる
期限: 2024/04/24
資料
ゲームデザイン #2（2024/5/1）講義用資料
最終編集: 2024/05/06
資料
ゲームデザイン #1（2024/4/18）講義用資料
投稿日: 2024/04/19
ゲームエンジン実習
ゲームエンジン実習
課題
【UE必須】個人制作
期限: 2月14日 23:59
完了 課題
UE個人制作　進捗報告
期限: 2024/12/13 23:59
資料
mixamo　ランチャーのダウンロード先
最終編集: 2024/11/29
完了 課題
【UE4必須⑦】Unreal Engine　tips集から3つ選択
期限: 2024/08/31 23:59
完了 課題
【UE4必須⑥】Unreal Engine　テーマ別研究 3
期限: 2024/08/09 23:59
完了 質問
Unreal Engine　Tips集へのデータ保存
期限: 2024/08/09 23:59
課題
【UE 任意】ぷちコン作品提出
期限: 2024/09/15 23:59
完了 課題
【UE4必須⑤】Unreal Engine　テーマ別研究 2
期限: 2024/07/31 17:00
完了 課題
【UE4必須④】Unreal Engine　テーマ別研究
期限: 2024/06/14 17:00
資料
Unreal Engine　テーマ別研究
最終編集: 2024/05/21
ゲーム開発応用Ⅰ
ゲーム開発応用Ⅰ
完了 課題
パックマン提出（最終）
期限: 2024/09/06 23:59
完了 課題
パックマン提出（クラス図）
期限: 2024/07/21 23:59
資料
パックマンの敵を作ってみる！
投稿日: 2024/07/03
完了 課題
爆撃ハンター課題提出
期限: 2024/06/30 23:59
資料
ScratchのゲームをC++にする
最終編集: 2024/04/10

ゲーム開発応用Ⅰ0201
Google スライド

ゲーム開発応用Ⅰ0202
Google スライド

ゲーム開発応用Ⅰ0203
Google スライド

[初級]爆撃ハンター.sb3
圧縮アーカイブ

0202
Google ドライブ フォルダ

0203
Google ドライブ フォルダ

gitignore.txt
テキスト
資料
授業の進め方と評価について確認
投稿日: 2024/04/10
プログラミング言語Ⅲ
プログラミング言語Ⅲ
完了 課題
2D横スクアクションゲームのクラス図を作成して下さい。
期限: 2024/09/06 23:59
完了 課題
【在宅課題】デザインパターン（関数ポインタ編）の提出
期限: 2024/08/08 17:30
完了 課題
デザインパターンについて学ぶ（関数ポインタ編）
期限: 2024/09/06
完了 課題
デザインパターンを学ぶ（State応用編）
期限: 2024/09/06 23:59
資料
デザインパターンについて学ぶ（FactoryMethod編）
投稿日: 2024/07/10
完了 課題
デザインパターンについて学ぶ（State編）
期限: 2024/09/06 23:59
完了 課題
デザインパターンについて学ぶ（Flyweight編）
期限: 2024/09/06 23:59
完了 課題
デザインパターンについて学ぶ（Singleton編）
期限: 2024/09/06
完了 課題
クラス図(UML)について学ぶ
期限: 2024/06/30
完了 課題
STL (Standard Template Library)
期限: 2024/06/30
志学Ⅱ
志学Ⅱ
資料
対象者のみ実施【ロールモデル発表と私の志】発表会の実施
投稿日: 2024/09/04
課題
志学を振り返って
期限: 2024/08/23
完了 課題
第５章　私の志
1
1 件のコメント
期限: 2024/08/14
完了 課題
第２章　感化力「ロールモデル作成」
1
1 件のコメント
期限: 2024/05/20
資料
シラバス
投稿日: 2024/04/19
HR
HR
資料
後期開始時の話
投稿日: 2024/10/08
課題
【担任からの夏休み課題】
期限: 2024/10/07 23:59
完了 課題
【前期】科目講師アンケート
期限なし
完了 課題
6/21授業アンケート
期限: 2024/06/21 16:00
完了 課題
6月授業アンケート
期限なし
課題
５月授業アンケート
期限: 2024/05/24 23:59
資料
沖専各総合体育大会へのエントリー募集
投稿日: 2024/04/16
資料
4月オリテ資料
最終編集: 2024/04/08
# Ignore Visual Studio temporary files
[Ll]og.txt

#Build result
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]oga/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio 2017 auto generated files
Generated\ Files/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Visual Studio Trace Files
*.e2e

# TFS 2012 Local Workspace
$tf/

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# AxoCover is a Code Coverage Tool
.axoCover/*
!.axoCover/settings.json

# Coverlet is a free, cross platform Code Coverage Tool
coverage*.json
coverage*.xml
coverage*.info

# Visual Studio code coverage results
*.coverage
*.coveragexml

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml
# Note: Comment the next line if you want to checkin your web deploy settings,
# but database connection strings (with potential passwords) will be unencrypted
*.pubxml
*.publishproj

# Microsoft Azure Web App publish settings. Comment the next line if you want to
# checkin your Azure Web App publish settings, but sensitive information contained
# in these scripts will be unencrypted
PublishScripts/

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/[Pp]ackages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows Store app package directories and files
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
_pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# Since there are multiple workflows, uncomment next line to ignore bower_components
# (https://github.com/github/gitignore/pull/1529#issuecomment-104372622)
#bower_components/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file
# to a newer Visual Studio version. Backup files are not needed,
# because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser
*- [Bb]ackup.rdl
*- [Bb]ackup ([0-9]).rdl
*- [Bb]ackup ([0-9][0-9]).rdl

# Microsoft Fakes
FakesAssemblies/

# GhostDoc plugin setting file
*.GhostDoc.xml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 auto-generated workspace file (contains which files were open etc.)
*.vbw

# Visual Studio LightSwitch build output
**/*.HTMLClient/GeneratedArtifacts
**/*.DesktopClient/GeneratedArtifacts
**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# Paket dependency manager
.paket/paket.exe
paket-files/

# FAKE - F# Make
.fake/

# CodeRush personal settings
.cr/personal

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Cake - Uncomment if you are using it
# tools/**
# !tools/packages.config

# Tabs Studio
*.tss

# Telerik's JustMock configuration file
*.jmconfig

# BizTalk build output
*.btp.cs
*.btm.cs
*.odx.cs
*.xsd.cs

# OpenCover UI analysis results
OpenCover/

# Azure Stream Analytics local run output
ASALocalRun/

# MSBuild Binary and Structured Log
*.binlog

# NVidia Nsight GPU debugger configuration file
*.nvuser

# MFractors (Xamarin productivity tool) working folder
.mfractor/

# Local History for Visual Studio
.localhistory/

# BeatPulse healthcheck temp database
healthchecksdb

# Backup folder for Package Reference Convert tool in Visual Studio 2017
MigrationBackup/

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Fody - auto-generated XML schema
FodyWeavers.xsd
gitignore.txt
gitignore.txt を表示しています。